{% extends 'base.html' %}

{% load resources %}

{% block css %}
  {% css 'css/form.css' %}
  {% css 'translate/css/options.css' %}
  {% css 'translate/css/loader.css' %}
  {% css 'translate/css/frames.css' %}
  {% css 'blast/css/blast.css' %}
{% endblock %}

{% block js %}
  {% js 'js/Store.js' %}
  {% js 'translate/js/frames.js' %}
  {% js 'translate/js/views.js' %}
  {% js 'blast/js/api.js' %}
  {% js 'blast/js/views.js' %}
{% endblock %}

{% block body %}
  <div class="container">
    {% include 'header.html' %}
    {% include 'form.html' %}
    {% include 'translate/options.html' %}
    {% include 'translate/frames.html' %}
    {% include 'blast/blast.html' %}
  </div>
{% endblock %}
