.translate .fastafile-btn {
  font-weight: bold;
  margin-bottom: 10px;
}

.translate .fastafile {
  display: none;
}

.translate .dragging {
  border: 3px dashed green;
  opacity: 0.3;
  padding: 5px 10px;
}

.translate button.translate,
.translate button.blast {
  max-width: 300px;
  min-width: 100px;
  width: 30%;
}

