.translate .fastafile-btn {
  font-weight: bold;
  margin-bottom: 10px;
}

.translate .fastafile {
  display: none;
}

.translate .buttons {
  box-sizing: border-box;
  padding-left: 100px;
  position: relative;
  width: 100%;
}

.translate button.reset {
  left: 15px;
  position: absolute;
  top: 10px;
  width: 70px;
}

.translate button.submit {
  width: 100%;
  max-width: 300px;
}

