.frames {
  display: none;
}

.frame {
  word-wrap: break-word;
}

.frame .amino {
  margin: 1px;
}

.frame .amino.badge {
  border: 1px solid #46b8da;
  background-color: #fff;
  color: #3a87ad;
  padding: 3px 4px;
  min-width: 25px;
  opacity: 0.5;
}

.frame .amino.badge.start,
.frame .amino.badge.stop {
  opacity: 1;
} 

.frame .amino.badge.start {
  background-color: #238443;
  border-color: #005A32;
  color: #fff;
}


.frame .amino.badge.stop {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}

.frame .amino.badge.filled {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
  opacity: 0.7;
}
