{% load jselement %}

{% jselem TranslateForm %}
<div {% rootID %} class="translate panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">DNA or RNA sequence</h3>
  </div>
  
  <div class="panel-body">
    <label {% subID fastafilelabel %} for="fastafile" class="fastafile-btn btn btn-default">
      <span class="glyphicon glyphicon-file"></span>
      Fasta File
    </label>
    <input type="file" id="fastafile" class="fastafile" />
    
    <textarea {% subID seq %} class="form-control" rows="5">{# sample sequence #}
      1 cctgcccgtg cagccagagg atccagcacc tctcttgggg cttctccgtc ctcggcgctt
      61 ggaagtacgg atcttttttc tcggagaaaa gttcactgga actggaagaa atggatttat
      121 ctgccgtcca aattcaagaa gtacaaaatg tccttcatgc tatgcagaaa atcttagagt
      181 gtccgatctg tttggaactg atcaaagaac ctgtttccac aaagtgtgac cacatatttt
    </textarea>
  </div>
  <div class="panel-footer buttons">
    <button {% subID reset %} type="button" class="btn btn-default reset">Reset</button>
    <button {% subID translate %} type="button" class="btn btn-primary translate">Translate</button>
    <button {% subID blast %} type="button" class="btn btn-warning blast">Blast</button>
  </div>
</div>
{% endelem %}
