{% load jselement %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">DNA or RNA sequence</h3>
  </div>
  
  {% jselem TranslateForm %}
  <div class="panel-body">
    <button {% subID fastafile %} class="btn btn-default">
      <span class=".glyphicon .glyphicon-file"></span>
      Fasta File
    </button>
    <textarea {% subID seq %} class="form-control" rows="5">{# sample sequence #}
      1 cctgcccgtg cagccagagg atccagcacc tctcttgggg cttctccgtc ctcggcgctt
      61 ggaagtacgg atcttttttc tcggagaaaa gttcactgga actggaagaa atggatttat
      121 ctgccgtcca aattcaagaa gtacaaaatg tccttcatgc tatgcagaaa atcttagagt
      181 gtccgatctg tttggaactg atcaaagaac ctgtttccac aaagtgtgac cacatatttt
    </textarea>
  </div>
  <div class="panel-footer buttons">
    <button {% subID reset %} type="button" class="btn btn-info reset">Reset</button>
    <button {% subID submit %} type="button" class="btn btn-primary submit">Translate</button>
  </div>
  {% endelem %}
</div>
