{% load jselement %}
{% load staticfiles %}

{% jselem Loader %}
<div {% rootID %} class="loader progress progress-striped">
  <div {% subID progressbar %} class="progress-bar progress-bar-success">
    <span class="sr-only">40% Complete (success)</span>
  </div>
</div>
{% endelem %}

{% jselem FrameView %}
<div {% rootID %} class="frames">
  {# 1 #}{% include 'translate/frame-panel.html' with id='frame1' %}
  {# 2 #}{% include 'translate/frame-panel.html' with id='frame2' %}
  {# 3 #}{% include 'translate/frame-panel.html' with id='frame3' %}
  {# 4 #}{% include 'translate/frame-panel.html' with id='frame4' %}
  {# 5 #}{% include 'translate/frame-panel.html' with id='frame5' %}
  {# 6 #}{% include 'translate/frame-panel.html' with id='frame6' %}
</div>
{% endelem %}
