{% load jselement %}

{% jselem FramesLoader %}
<div {% rootID %} class="frames-loader progress progress-striped">
  <div {% subID progressbar %} class="progress-bar"></div>
</div>
{% endelem %}

{% jselem FrameView %}
<div {% rootID %} class="frames">
  {# 1 #}{% include 'translate/frame-panel.html' %}
  {# 2 #}{% include 'translate/frame-panel.html' %}
  {# 3 #}{% include 'translate/frame-panel.html' %}
  {# 4 #}{% include 'translate/frame-panel.html' %}
  {# 5 #}{% include 'translate/frame-panel.html' %}
  {# 6 #}{% include 'translate/frame-panel.html' %}
</div>
{% endelem %}
