{% extends 'base.html' %}

{% load resources %}

{% block css %}
  {% css 'translate/css/form.css' %}
  {% css 'translate/css/loader.css' %}
  {% css 'translate/css/frames.css' %}
  {% css 'translate/css/options.css' %}
{% endblock %}

{% block js %}
  {% js 'translate/js/Store.js' %}
  {% js 'translate/js/frames.js' %}
  {% js 'translate/js/views.js' %}
  <script>
    // global listener to all store changes
    Store.listen(function(k, v) {
      {# console.log('Store: [', k, '] => [', v, ']'); #}
    });
  </script>
{% endblock %}

{% block body %}
  <div class="container">
    {% include 'translate/form.html' %}
    {% include 'translate/options.html' %}
    {% include 'translate/frames.html' %}
  </div>
{% endblock %}
