{% load jselement %}

{% jselem BlastLoader %}
<div {% rootID %} class="blast-loader progress progress-striped active">
  <div class="progress-bar progress-bar-warning"></div>
</div>
{% endelem %}

{% jselem BlastView %}
<div {% rootID %} class="blast-view panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Alignments</h3>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr><th class="text-center">Click on the alignment to see the details</th></tr>
    </thead>
    <tbody {% subID alignments %}>
      {#  Here goes the list of Blast alignments  #}
    </tbody>
  </table>
</div>
{% endelem %}